body{
    background-color: bisque;
}

h1{
    font-size: xx-large;
    text-align: center;
    font-family: fantasy;
}
h2{
    font-size: large;
    font-family: fantasy;
}




img{
    margin: 30px 10px 30px 30px;
    border: solid;
    width: 15pc;
    height: 15pc;
    border-radius: 25%;
}

ul{
    text-align: center;
    width: 40pc;
    height: 35pc;
    
}
li{
    border: solid;
    border-color: teal;
    margin: 10px;
    font-size: 20px;
    font-style: unset;
}